.container {
  width: 100vw;
  height: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50vw;
  height: 30vh;
  
  margin-top: 12px;
  border-radius: 12px;
  background: rgb(238, 64, 53);
  background-image: url("../../assets/images/pokebola.png");
  background-position: right;
  background-repeat: no-repeat;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 8px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  color: white;
}

#header-text {
  margin-bottom: 30px;
}

#search {
  width: 20vw;
  height: 30px;
  text-align: center;
  border-radius: 8px;
}

